{% extends "layout.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container_login white z-depth-2 box">
	<div id="login" class="col s12">
        <div class="form-container">
              <h4 class="light-blue-text text-darken-4"><a href="#login">{% trans "Sign In" %}</a></h4>
            {% get_providers as socialaccount_providers %}

             {% if socialaccount_providers %}
                  <p>{% blocktrans with site.name as site_name %}Please sign in with on
                      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                 <div class="socialaccount_ballot">
                     <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                     </ul>
                    <div class="login-or">{% trans 'or' %}</div>
                </div>

                {% include "socialaccount/snippets/login_extra.html" %}

             {% else %}
                <p>{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
             {% endif %}

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field">
                        <input class="form-control validate" id="id_login" maxlength="30" name="login" type="text" />
                        <label for="login">Login</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field">
                        <input class="form-control validate" id="id_password" maxlength="30" name="password" type="password" />
                        <label for="id_password">Password</label>
                    </div>
                </div>

                <div class="row">
                    <p>
                        <label>
                            <input type="checkbox" name="remember" id="id_remember" class="filled-in light-blue lighten-2">
                            <span>Remember me</span>
                        </label>
                    </p>
                </div>



                <div class="row">
                    {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <br>

            <center>
                <button class="primaryAction btn waves-effect light-blue lighten-2" name="action" type="submit">{% trans "Submit" %}</button>
            </center>
            </form>
        </div>
    </div>
</div>

{% endblock %}


