/* HOME PAGE */
.body{
    min-height: 100%;!important;
}
@media (min-width: 1200px) {
    nav .brand-logo {
        margin-left: 2%; !important;
        font-size: 500%; !important;
    }
}
@media (max-width: 1200px) {
    .brand-logo {
        position: fixed; !important;
        display: inline; !important;
        margin-left: 1%; !important;
        width:40%; !important;
        font-size: 70%; !important;
    }
}

.home-logo:hover {
    cursor: pointer; !important;
}

.orders-btn {
    margin: 0; !important;
}
.section-search input {
    padding: 5px 5px 5px 15px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}

.btn-small{
    margin: 0; !important;
}
/* AUTHENTICATION */
.signout_btn {
    margin: 0; !important;
}
.signin_btn {
    margin: 0 2% 0 0; !important;
}

.body_login {
	background: #f5f5f5; !important;
}

.container_login {
	width: 60%; !important;
	height: 70%; !important;
}

.discipline:hover {
    cursor: pointer; !important;
}
/* DETAILED BOOK VIEW */

@media (min-width: 700px) {
  .book {
      display: inline-block; !important;
      vertical-align: top; !important;
      width: 40%; !important;
      margin: 4% 0 0 7%; !important;
  }
  .bookimg {
     display: inline-block; !important;
     vertical-align: top; !important;
     width: 70%; !important;
     height:40%; !important;
     /*margin: 10% 0 0 15%;*/
  }
  .add {
    width: 70%; !important;
    margin: 1% 0 3% 0; !important;
  }
  .text {
     display: inline-block; !important;
     width: 50%;
    }
}
@media (max-width: 700px) {
    .book {
        width: 100%; !important;
     /* margin: 4% 0 0 7%; !important;*/
    }
    .bookimg {
        width: 100%; !important;
        height:100%; !important;
     /*margin: 10% 0 0 15%;*/
    }
    .add {
        margin:1%; !important;
        width:100%; !important;
    }
}

.book_title {
    font-weight: bolder; !important;
    color: black; !important;
    font-size: 115%; !important;
}

.card {
    width: 100%; !important;
    height: 70%; !important;
}

.search_filter {
    width: 40%; !important;
    background: black; !important;
}

/* DISPLAYING MESSAGES */
.alert {
  font-size: 150%; !important;
  opacity: 1; !important;
  transition: opacity 0.6s; !important;
  padding: 1%; !important;
}

h5 {
	font-weight: 400; !important;
}

.tabs .indicator {
	background-color: #e0f2f1; !important;
	height: 60px; !important;
	opacity: 0.3; !important;
}

.form-container {
	padding: 40px; !important;
	padding-top: 10px; !important;
}

.confirmation-tabs-btn {
	position: absolute; !important;
}

.box {
    margin:5% 10% 5% 17%; !important;
}

input{
    border-bottom: 1px solid #4FC3F7; !important;
}

/* CART */
.cart {
    margin: 0; !important;
}

.total {
    margin: 2%; !important;
}

.table-btn {
    width: 100%; !important;
    margin: 2%; !important;
}
.form1 {
    margin: 2% 2% 2% 14%; !important;
    width: 50%; !important;
    height:50%; !important;
    padding:2%; !important;
    display:inline-block; !important;
    vertical-align: top; !important;
}

.form2 {
    margin: 2% 2% 2% 0; !important;
    width: 25%; !important;
    padding:2%; !important;
    display:inline-block; !important;
    vertical-align: top; !important;
}

.form3 {
    margin: 2% 2% 2% 20%; !important;
    width: 60%; !important;
    padding: 2%; !important;
    display: inline-block; !important;
    vertical-align: top; !important;
}

.checkout {
    width:100%;
    margin-top: 3%;
}

/* HANDLING STRIPE PAYMENTS */
.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.btn {
    font-size: 100%; !important;
    font-weight: 500; !important;
 }

.promo{
    width:100%; !important;
    margin: 5% 0 0 0; !important;
}

/* label focus color */
 .input-field input:focus + label {
   color: #01579B !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #01579B !important;
   box-shadow: 0 1px 0 0 #01579B !important
 }

 .input-field textarea:focus + label {
   color: #01579B !important;
 }
 /* label underline focus color */
 .row .input-field textarea:focus {
   border-bottom: 1px solid #01579B !important;
   box-shadow: 0 1px 0 0 #01579B !important
 }

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #000 !important;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #000 !important;
}

[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid #000 !important;
    border-bottom: 2px solid #000 !important;
  }

  [type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid #000 !important;
    background-color: #fff !important;
  }
  [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
    border: 2px solid #000 !important;
  }

  [type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
  border: 2px solid #000 !important;
}

@media print {
  [type="radio"]:checked + span:after,
  [type="radio"].with-gap:checked + span:after {
    background-color: #000 !important;
  }
}
