{% extends "layout.html" %}
{% load static %}

{% block content %}
    <div class="form1 white z-depth-2">
    <h3>Checkout form</h3>
        <div class="row">
            <form class="col s12" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s6">
                        <input name="first_name" id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="last_name" id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="address" id="address" type="text" class="validate">
                        <label for="address">Address </label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4">
                        <input name="country" id="country" type="text" class="validate">
                        <label for="country">Country</label>
                    </div>
                    <div class="input-field col s4">
                        <input name="city" id="city" type="text" class="validate">
                        <label for="city">City</label>
                    </div>
                    <div class="input-field col s4">
                        <input name="zip" id="zip" type="text" class="validate">
                        <label for="zip">Zip</label>
                    </div>
                </div>

                <div class="row input-field">
                    <p>
                      <label>
                        <input value="S" class="with-gap" type="radio"name="payment_option"/>
                        <span>Stripe</span>
                      </label>
                    </p>
                </div>

                <div class="row">
                    <p>
                      <label>
                        <input value="P" class="with-gap" type="radio" name="payment_option" />
                        <span>Paypal</span>
                      </label>
                    </p>
                </div>
                <hr>

                <div class="row">
                    <p>
                        <label>
                            <input type="checkbox" name="save_info" class="filled-in">
                            <span>Save info</span>
                        </label>
                    </p>
                </div>
                {% if default_shipping_info %}
                <div class="row">
                    <p>
                        <label>
                            <input type="checkbox" name="use_default_info" class="filled-in">
                            <span>Use default info: {{ default_shipping_info.last_name }} {{ default_shipping_info.first_name}}
                            {{ default_shipping_info.address }} {{ default_shipping_info.city}}
                            {{ default_shipping_info.country }} {{ default_shipping_info.zip}} </span>
                        </label>
                    </p>
                </div>
                {% endif %}

                <hr>
                <div class="right-align total">
                    <button type="submit" class="waves-effect waves-light btn green checkout">Continue</button>
                </div>
             </form>
        </div>
     </div>

    {% include "order_summary.html" %}


{% endblock content %}